.footer {
  background-color: #161619;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0px 0px 0px;
  padding: 15px 0px 15px 0px;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.footer > img {
  width: 8%;
}