.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info--photo-img {
  margin: -15px 0px 0px 0px;
  height: 80%;
  width: 100%;
  border-radius: 25px;
}

.info--name {
  margin: 15px 0px 5px 0px;
  color: #FFFFFF;
}

.info--title {
  margin: 0px 0px 5px 0px;
  color: #F3BF99;
}

.info--email {
  margin: 0px 0px 20px 0px;
  color: #F5F5F5;
}

.info-button {
  border-radius: 8px;
  background-color: #FFFFFF;
}